@font-face  {
    font-family: 'mifuente';
    src: url(Black\ Way\ -\ Personal\ Use.otf);
  }
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-image: url("abandon-5235255.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
margin: 0;
  padding: 15px;

}

#titulo{
    color: #ffffff;
  font-family: 'mifuente';
   font-size:  80px;
   text-align: center;
   margin-top: -10px;
   margin-left: 0px;
   border-top: 6px solid #a916168b;
  
  
  }
#containertarj {
    margin: 0;
  padding: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 400px;
    color: #ffffff;
    font-family: 'verdana';
    border-top: 6px solid #a916168b;
}
#containertarj .container{

    background-image: url("peakpx (2).jpg");
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
